<?xml version="1.0"?>
<model>
  <name>pitcher</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>My Name</name>
   <email>me@my.email</email>
  </author>

  <description>
    pitcher_base model extracted from berkley dataset here: http://ycb-benchmarks.s3-website-us-east-1.amazonaws.com/
  </description>
</model>